body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to left, rgb(143, 143, 195) , rgb(171, 145, 145));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: tomato;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

label {
  font-weight: bold;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;

}
button {
        background: black;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 10px 0;
        font-size: 20px;
        cursor: pointer;
 
}

button:hover{
    background-color: green;
}
button:active{
    background-color: blue;
}

#password-display {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}


/* Media Queries */

@media(max-width: 500px){
    .container {
        background-color: tomato;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: 0 20px;
      }
}